html,
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

#__next {
  background-color: #fff;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
  overflow-x: hidden;
}

body a {
  color: inherit;
  text-decoration: none;
}

input, textarea {
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.bg {
  background-image: url("/bg.png");
  background-position: initial;
}

/* Colors */
.bg-standart-dark {
  background-color: #373737;
}

/* Heights */
.h100vh {
  height: calc(100vh - 55px);
}

.h7 {
  height: 7px;
}

.h40 {
  height: 40px;
}

.h55 {
  height: 55px;
}

/* Widths */
.w100vw {
  width: 100vw;
}

.w40 {
  width: 40px;
  max-width: 40px;
}

.w152 {
  width: 152px;
  max-width: 152px;
}

.w414 {
  width: 414px;
  max-width: 414px;
}

