@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  color: #373737;
}

#__next {
  background-color: #fff;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
  overflow-x: hidden;
}

body a {
  color: inherit;
  text-decoration: none;
}

input, textarea {
  border: none;
  outline: none;
  -webkit-appearance: none;
}

/* Hidden Toolbar */
::-webkit-scrollbar {
  width: 0px;
}

/* Fonts */
.font-satisfy {
  font-family: 'Satisfy', cursive;
}

.font-inknut {
  font-family: 'Inknut Antiqua', serif;
  overflow: hidden;
}

/* Font Size */
.fs40{
  font-size: 40px;
}

/* Backgrounds */
.bg {
  background-image: url("/bg.png");
  background-position: top;
}

.bg-center {
  background-size: cover;
  background-position: center;
}

/* Colors */
.bg-standart-dark {
  background-color: #373737;
}

.bg-standart {
  background-color: #FFD600;
}

.color-standart {
  color: #6B6B6B;
}

/* Heights */
.h100vh {
  height: calc(100vh - 55px);
}

.h20pc {
  height: 20%;
}

.h100pc {
  height: 100%;
}

.h7 {
  height: 7px;
}

.h40 {
  height: 40px;
}

.h55 {
  height: 55px;
}

.h60 {
  height: 55px;
}

.h100 {
  height: 100px;
}

/* Widths */
.w100vw {
  width: 100vw;
}

.w40 {
  width: 40px;
  max-width: 40px;
}

.w152 {
  width: 152px;
  max-width: 152px;
}

.w170 {
  width: 170px;
  max-width: 170px;
}

.w300 {
  width: 300px;
  max-width: 300px;
}

.w414 {
  width: 414px;
  max-width: 414px;
}

/* Borders */

.rounded10 {
  border-radius: 10px;
}

/* Margin */

.mtn5 {
  margin-top: -5px;;
}

/* Especific */

.htotal {
  height: calc(100% - 155px);
}

.styled-border {
  border: 4px solid #6B6B6B;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: none;
  border-left: none;
}